<!-- <div class="card">
  <div class="card-header">
    <h2>{{post.title}}</h2>

    <small>{{post.date | date:'dd.MM.yyyy'}}</small>
  </div>

  <div>
    <small>{{post.author}}</small>
  </div>

  <button
    [routerLink]="['/post', post.id]"
    class="btn btn-dark"
  >Открыть</button>
</div> -->

<mat-card class="dashboard-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + post.avatar + ')'}"></div>
    <mat-card-title>
      {{post.title}}
      <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button> -->
      <!-- <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu> -->
    </mat-card-title>
    <mat-card-subtitle>{{post.author}} от {{post.date | date:'dd.MM.yyyy'}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{post.image}}">
  <mat-card-content class="dashboard-card-content">
    <div><p>{{post.preview}}</p></div>
  </mat-card-content>
  <mat-card-actions class="actions">
      <button mat-raised-button [routerLink]="['/post', post.id]">Читать</button>
      <button mat-icon-button color="{{favorite}}" aria-label="Example icon-button with a heart icon" (click)="OnClickFavorite(card.id)">
          <mat-icon>favorite</mat-icon>
        </button>
  </mat-card-actions>
</mat-card>